---

---
<!-- Botón "Go to top" -->
<div
class="fixed bottom-4 right-4 bg-blue-500 hover:bg-blue-600 text-white p-3 rounded-full shadow-lg"
>
<a href="#header" aria-label="Go to top"
  ><i class="fa-solid fa-arrow-up"></i></a
>
</div>
<footer class="text-white py-6">
  <div class="container mx-auto text-center">
    <p class="mb-2">&copy; M4ra - 2024</p>
    <p class="mb-2">Social Networks</p>
    <div class="flex justify-center space-x-4">
      <a
        href="https://github.com/M4raa"
        target="_blank"
        class="hover:text-blue-400"
      >
        <i class="fab fa-github"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/m4ra/"
        target="_blank"
        class="hover:text-blue-400"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a
        href="https://www.instagram.com/"
        target="_blank"
        class="hover:text-blue-400"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://x.com/" target="_blank" class="hover:text-blue-400">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>
</footer>
