---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title="M4ra - About">
  <!-- Header -->
  <Header />
  <!-- Contenido Principal -->
  <main></main>
  <!-- Footer -->
  <Footer />
</BaseLayout>
