html{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
header{
    background-color: rgb(100,100,150);
    width: 20% ;
}
body{
    background-color: rgb(200,200,200);
    margin: 0;
    padding: 0;
    min-height:100vh;
    display: flex;
    flex-direction:row;
}
content{
    flex: 1;
}
footer{
    background-color: rgb(100,100,150);
    width: 20%;
}
#footer2{
    background-color: rgb(100,100,150);
    position:fixed;
    
}
.textoI{
    margin: 2%;
    text-align: justify;
}
fieldset{
    max-width: max-content;
    border: hidden;
}
div{
    margin: auto;
}
.estiloNav{
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
    
}

#formContacto{
    background-color: aliceblue;
    max-width: max-content;
    border-style:solid;
    border-radius: 5px;
    border-color: black;
    
}
.estilo1{
    background-color: rgb(100,100,150);
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
#volverArriba{
    text-align: center;
}
#enlaceExterno{
    margin:5%;
    text-align: justify;
}