html{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    background-image:url(content/bg.webp);
    background-size:100%;
}
header{
    background-color: rgb(100,100,150,0.8);
}
body{
    background-color: rgb(255, 255, 255,0.8);
    margin: 0;
    padding: 0;
    min-height:125vh;
    display: flex;
    flex-direction: column;
}
body::-webkit-scrollbar {
    width: 11px;
}
body::-webkit-scrollbar-track {
    background: rgb(100,100,150,0.5);
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(100,100,190);
    border-radius: 20px;
    border: 2px solid white;
}
div bC{
   text-align: center;
}

a:link{
    text-decoration: none;
    background: -webkit-linear-gradient(rgb(0, 0, 0),rgb(128, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
a:hover{
    color:rgb(100,100,190);
    font-style:oblique;
    font-weight: bold;
}
.content{
    flex: 1;
}
footer{
    background-color: rgb(100,100,150,0.8);
}
fieldset{
    max-width: max-content;
    border: hidden;
}
div{
    margin: auto;
}
.estiloNav{
    margin: 0;
    padding: 0;
    padding-left: 10px;
    color: black;
    list-style: none;
}

.estiloNav li {
    display: inline;
    background-color: aliceblue;
    border-style: solid;
    border-color: rgb(0,0,0,0.3);
    border-width: 2px;
    border-radius: 5px;
    padding: 2px;
}
#formContacto{
    background-color: aliceblue;
    border-style:solid;
    border-radius: 5px;
    border-color: black;
    padding: 2%;
    scale: 120%;   
}
#formContacto #enviarForm, #resetForm{
    background-color: rgba(230,230,255) ;
    border-style: solid;
    border-color: rgb(0,0,0,0.3);
    border-width: 1.5px;
    border-radius: 5px;
    margin-top: 5px;
}
#butC input:hover{
    cursor: pointer;
    background-color: rgb(200,200,255);
}
.estiloC{
    background-color: rgb(230,230,255);
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    margin: 0;
    width: 100%;
    border-color: black;
}
#nomC{
    background-color: rgb(230,230,255);
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    width: 97%;
    border-color: black;
}
#tlfC{
    background-color: rgb(230,230,255);
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    width: 100%;
    border-color: black;
}
#tablaObjetos{
    text-align: center;
    background-color: aliceblue;
    border-style: solid;
    border-collapse: collapse;
    border-width: 2px;
    border-color: rgb(100,100,150,0.5);
    color: black;
    margin: 5px;
    
}
#tablaObjetos tr td{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(100,100,150,0.5);
    border-radius: 5px;
    text-align: center;
    
    
}
.inFotter a{
    padding: 5px;
}
.enF{
    width: 20px;
    height: 20px;
}
.inFotter p{
    padding: 5px;
}

.pO{
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
}
#rrss img{
    float:right ;
    width: 25px;
    height: 25px;
    padding: 3px;
    margin-top: 10px;
    margin-right: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    background-color: aliceblue; 
}
